## Observations and Insights

In [197]:
# Dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import pprint as pprint

In [198]:
# Set the file paths
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# View mouse data
mouse_metadata

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [199]:
# View study results
study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [200]:
# Combine the data into a single dataframe and view
merged_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
merged_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [201]:
# Delete unneeded column
del merged_df['Age_months']

# Display the resulting data frame
merged_df

,Mouse ID,Drug Regimen,Sex,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,16,0,45.000000,0
1,k403,Ramicane,Male,16,5,38.825898,0
2,k403,Ramicane,Male,16,10,35.014271,1
3,k403,Ramicane,Male,16,15,34.223992,1
4,k403,Ramicane,Male,16,20,32.997729,1
...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,30,25,63.145652,2
1889,z969,Naftisol,Male,30,30,65.841013,3
1890,z969,Naftisol,Male,30,35,69.176246,4
1891,z969,Naftisol,Male,30,40,70.314904,4
1892,z969,Naftisol,Male,30,45,73.867845,4

In [202]:
# Checking the number of mice.
number_of_mice = merged_df['Mouse ID'].nunique()
number_of_mice

249

In [203]:
# Determine the Mouse ID that shows up with duplicate Mouse ID and Timepoint entries. 
duplicate_mouse = merged_df.loc[merged_df.duplicated(subset=["Mouse ID","Timepoint"]),"Mouse ID"].unique()
pprint(duplicate_mouse)

TypeError: 'module' object is not callable

In [189]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mouse_df = merged_df.loc[merged_df["Mouse ID"] == duplicate_mouse[0]]
duplicate_mouse_df

,Mouse ID,Drug Regimen,Sex,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,26,0,45.000000,0
909,g989,Propriva,Female,26,0,45.000000,0
910,g989,Propriva,Female,26,5,48.786801,0
911,g989,Propriva,Female,26,5,47.570392,0
912,g989,Propriva,Female,26,10,51.745156,0
913,g989,Propriva,Female,26,10,49.880528,0
914,g989,Propriva,Female,26,15,51.325852,1
915,g989,Propriva,Female,26,15,53.442020,0
916,g989,Propriva,Female,26,20,55.326122,1
917,g989,Propriva,Female,26,20,54.657650,1
918,g989,Propriva,Female,26,25,56.045564,1
919,g989,Propriva,Female,26,30,59.082294,1
920,g989,Propriva,Female,26,35,62.570880,2

In [190]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
merged_df = merged_df[merged_df["Mouse ID"] != duplicate_mouse[0]]
merged_df

,Mouse ID,Drug Regimen,Sex,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,16,0,45.000000,0
1,k403,Ramicane,Male,16,5,38.825898,0
2,k403,Ramicane,Male,16,10,35.014271,1
3,k403,Ramicane,Male,16,15,34.223992,1
4,k403,Ramicane,Male,16,20,32.997729,1
...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,30,25,63.145652,2
1889,z969,Naftisol,Male,30,30,65.841013,3
1890,z969,Naftisol,Male,30,35,69.176246,4
1891,z969,Naftisol,Male,30,40,70.314904,4
1892,z969,Naftisol,Male,30,45,73.867845,4

In [191]:
# Checking the number of mice in the clean DataFrame.
new_number_of_mice = merged_df['Mouse ID'].nunique()
new_number_of_mice

248

## Summary Statistics

In [195]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

drug_regimens = merged_df.loc[merged_df.duplicated(subset=["Mouse ID","Drug Regimen"]),"Drug Regimen"].unique()
drug_regimens

array(['Ramicane', 'Capomulin', 'Infubinol', 'Placebo', 'Ceftamin',
       'Stelasyn', 'Zoniferol', 'Ketapril', 'Propriva', 'Naftisol'],
      dtype=object)

In [194]:
# This method is the most straighforward, creating multiple series and putting them all together at the end.

SyntaxError: invalid syntax (<ipython-input-194-795341372a89>, line 2)

In [155]:
   
mean_tumor_vol = merged_df.loc[merged_df["Drug Regimen"==drug_regimens[0],"Timepoint"]].mean()


#drug_tumor_data_summary.df.append = pd.DataFrame({"Drug Regimen": drug_regimens},
#                                {"Mean Tumor Vol": mean_tumor_vol})
#                                {"Median Tumor Vol": median_tumor_vol},
#                                {"Tumor Vol Std Dev": tumor_vol_std_dev},
#                                {"Tumor Vol SEM": tumor_vol_sem})
#    mean_tumor_vol = 
#    median_tumor_vol = merged_df.loc
#    tumor_vol_variance = merged_df.loc
#    tumor_vol_std_dev = merged_df.loc
#    tumor_vol_sem = merged_df.loc
#print(mean_tumor_vol)

KeyError: (False, 'Timepoint')

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen